<nav class="sidebar close">
	<header>
		<div class="image-logo">
			<img class="mx-4 my-2 " src="../../assets/images/logo.png" alt="logo">
			<span>Blog Site</span>
		</div>
		<!-- <div>
			<i class="fa-solid fa-circle-arrow-left toggle"></i>
		</div> -->
	</header>
	<div class="menu-bar">
		<div class="menu">
			<ul class="menu-link">
				<li class="nav-link">
					<a routerLink="/dashboard" routerLinkActive="active">
						<i class="fas fa-th-large icon"></i>
						<span class="text nav-text">Dashboard</span>
					</a>
				</li>
				<li class="nav-link">
					<a routerLink="/about-us">
						<i class="fas fa-chart-bar icon"></i>
						<span class="text nav-text">AboutUs</span>
					</a>
				</li>
				<li class="nav-link">
					<a routerLink="/contact-us">
						<i class="fas fa-chart-bar icon"></i>
						<span class="text nav-text">ContactUs</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>