<section class="container-fluid">
	<div class="row">
		<div class="col-md-6 ps-0">
			<div class="login-Container">
				<div class="bg-login">
					<img class="car" src="../../assets/images/auth-car.png" alt="login">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container">
				<div class="welcome">
					<h1>FORGOT PASSWORD</h1>
					<p>Enter the registered email address</p>
					<div>
						<form class="form-login" action="">
							<div class="row g-4">
								<div class="col-12">
									<div class="form-floating">
										<i class="far fa-envelope"></i>
										<input class="form-control" type="email" id="userEmail" placeholder="EMAIL ID">
										<label for="userEmail">EMAIL ID</label>
									</div>
								</div>
							</div>
							<div class="col-12 mt-3">
								<button class="btn btn-primary btn-fill btn-lg" (click)="login()">SIGN IN</button>
								<button class="btn btn-out ms-2">SEND PASSWORD</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
