<section class="container-fluid">
	<div class="row">
		<div class="col-md-6 ps-0">
			<div class="login-Container">
				<div class="bg-login">
					<img class="car" src="../../assets/images/auth-car.png" alt="login">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container">
				<div class="welcome">
					<h1>Create an Account</h1>
					<p>Don't have an account? it takes less than a minutes <br>
					If you already have an account
					<a routerLink="/login">Login</a>
					</p>
					<div>
						<form class="form-login" action="">
							<div class="row g-4">
								<div class="col-6">
									<div class="form-floating">
										<i class="far fa-envelope"></i>
										<input class="form-control" type="email" id="userEmail" placeholder="EMAIL ID">
										<label for="userEmail">EMAIL ID</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="fas fa-user"></i>
										<input class="form-control" type="name"
										id="firstName"
										placeholder="FIRST NAME">
										<label for="firstName">FIRST NAME</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="fas fa-user"></i>
										<input class="form-control" type="name"
										id="lastName"
										placeholder="LAST NAME">
										<label for="lastName">LAST NAME</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="far fa-calendar-alt"></i>
										<input type="number"
										class="form-control"
										id="userDob"
										placeholder="DATE OF BIRTH">
										<label for="userDob">DATE OF BIRTH</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="far fa-envelope"></i>
										<input type="number"
										class="form-control"
										id="postCode"
										placeholder="POST CODE">
										<label for="postCode">POST CODE</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="fas fa-phone-alt"></i>
										<input type="tel"
										class="form-control"
										id="userPhone"
										placeholder="PHONE NUMBER">
										<label for="userPhone">PHONE NUMBER</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="fas fa-lock"></i>
										<input type="password"
										class="form-control"
										id="userPassword"
										placeholder="PASSWORD">
										<label for="userPassword">PASSWORD</label>
									</div>
								</div>
								<div class="col-6">
									<div class="form-floating">
										<i class="fas fa-lock"></i>
										<input type="password"
										class="form-control"
										id="userConfirmPassword"
										placeholder="PASSWORD">
										<label for="userConfirmPassword">CONFIRM PASSWORD</label>
									</div>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-primary mt-4">CREATE ACCOUNT</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
